<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--配置更改后重启才能生效-->
	<appSettings>
		<!--过滤Websocket数据源进程,可用','进行分隔，程序将会监听以下进程的弹幕信息-->
		<add key="filterProcess" value="直播伴侣,chrome,msedge"/>
		<!--Websocket监听端口-->
		<add key="wsListenPort" value="8888"/>
		<!--在控制台输出弹幕-->
		<add key="printBarrage" value="true"/>
		<!--要在控制台打印的弹幕类型,可以用','隔开   all[全部]，1[普通弹幕]，2[点赞消息]，3[进入直播间]，4[关注消息]，5[礼物消息]，6[统计消息]，7[粉丝团消息]-->
		<add key="printFilter" value="all"/>
		<!--系统代理端口-->
		<add key="proxPort" value="8827"/>
	</appSettings>
</configuration>