<!-- nlog 配置,支持文件和控制台日志 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>		
	</extensions>
	<targets>

		<!--调试日志-->
		<target name="debug" 
				xsi:type="Console"
				layout="[${time} ${message} [${event-context:item=ip}] [${event-properties:ip}] ${newline}"
		/>

		<!--通用文件日志-->
		<target
		name="file"
		xsi:type="File"
		fileName="${basedir}/logs/error/${shortdate}.log"
		archiveEvery="Day"
		archiveNumbering="DateAndSequence"
		maxArchiveFiles="30"
		layout="${longdate}|${level:uppercase=true}| ${message} ${exception:format=tostring} ${newline}${newline}"/>

		<!-- 控制台日志 -->
		<target 
		name="console_info" 
		xsi:type="Console" 
		layout="${time}|${level:uppercase=true}| ${message} ${newline}"/>

		<!-- 控制台日志-错误 颜色红色 -->
		<target
		name="console_error"
		xsi:type="Console"
		layout="${shortdate}|${level:uppercase=true}| ${message} ${newline}"
		error="true"
		/>

	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="file,console_error" />
		<logger name="*" level="Info" writeTo="console_info" />
		<logger name="debug" minlevel="Trace" writeTo="debug" />
		<!-- debug，以及 info 在控制台输出 -->		
	</rules>
</nlog>


