<!-- nlog 配置,支持文件和控制台日志 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>		
	</extensions>
	<targets>

		<!--调试日志-->
		<target name="debug" 
				xsi:type="Console"
				layout="[${time} ${message} [${event-context:item=ip}] [${event-properties:ip}] ${newline}"
		/>

		<!--通用文件日志-->
		<target
		name="file"
		xsi:type="File"
		fileName="${basedir}/logs/error/${shortdate}.log"
		archiveEvery="Day"
		archiveNumbering="DateAndSequence"
		maxArchiveFiles="30"
		layout="${longdate}|${level:uppercase=true}| ${message} ${exception:format=tostring} ${newline}${newline}"/>

		<!-- 控制台日志 -->
		<target 
		name="console_info" 
		xsi:type="Console" 
		layout="${time}|${level:uppercase=true}| ${message} ${newline}"/>

		<!-- 控制台日志 -->
		<target
            name="console"
            xsi:type="ColoredConsole"
			useDefaultRowHighlightingRules = "false"
            layout="${time} [${level:uppercase=true}]> ${message}${newline}"
        >
			<highlight-word  text="TRACE" foregroundColor="DarkGray" ignoreCase="false" wholeWords="true"/>
			<highlight-word  text="DEBUG" foregroundColor="White" ignoreCase="false" wholeWords="true"/>
			<highlight-word  text="INFO" foregroundColor="Green" ignoreCase="false" wholeWords="true"/>
			<highlight-word  text="WARN" foregroundColor="Yellow" ignoreCase="false" wholeWords="true"/>
			<highlight-word  text="FATAL" foregroundColor="Magenta" ignoreCase="false" wholeWords="true"/>
			<highlight-word  text="ERROR" foregroundColor="Red"  ignoreCase="false" wholeWords="true"/>
		</target>

	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="file,console_error" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="debug" minlevel="Trace" writeTo="debug" />
		<!-- debug，以及 info 在控制台输出 -->		
	</rules>
</nlog>


