<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorConsole" version="1.0.1" targetFramework="net48" />
  <package id="FiddlerCore" version="4.6.2.0" targetFramework="net48" />
  <package id="Fleck" version="1.2.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="protobuf-net" version="3.1.22" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.1.22" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>